*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;

}
#header {
  background: rgb(0, 0, 0);
  height: 100px;
  position:relative;
  top: 0;
  justify-content: space-between;
  width: 100%;
  display: flex;;
}
img{
  width: 100px;
  margin: 10px 0 0 50px;

}
#nav-bar{
  position: relative;
  top: 0;
  margin: 20px 50px 0 0;
  display: flex;
  justify-content: space-between;
  width: max-content;
  height: 50px;
}
#nav-bar a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
#nav-bar a:hover{
  text-decoration: underline;
}

#video{
  width: 85vw;
  height: 500px;
}

.pricing{
  width: 90%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.pricing div{
  margin: 20px ;
  border: solid;
  height: 200px;
  width: 250px;
}
.pricing .title{
  background: #D0D0D0;
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width:600px){
.pricing{
  flex-direction: column;
}
#video{
  width: 100vw;
  height: 300px;
}
}
